form {
  font: 1em sans-serif;
  max-width: 320px;
}

p  .lael {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fielset {
  width:  100%;
  border: 1px soli #333;
  box-sizing: boder-box;
}

input:nvalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
